<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilodash.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/4fcb02d961.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>

<body> 

<div class="container">
    <div class="dash">
          <img class="logo-dash" src="../assets/img/logo.png" alt="">
                     
        <div class="dash2">
            <button><i class="fa fa-users"></i><a href="./pacientes.html"> Pacientes</a></button><br><br>
            <button><i class="fa fa-syringe"></i><a href="#"> Vacunación</a></button><br><br>
            <button><i class="fa fa-power-off"></i><a href="./login.html"> Cerrar Sesión</a></button>
        </div>
    </div>

    <div class="containerdos">
        <section class="bienvenido">
            <div class="nombre">
                <button class="user"><i class="fa fa-user"></i><a href="./pacientes.html"> Lina Trujillo</a></button>
            </div>
            <div class="titulito">
                <h3>BIENVENIDOS</h3> 
            </div>
           
            <form class="busqueda" method="post" action="" id="busqueda">
                <input  id="buscador" class="buscador" type="number" max length="30"  placeholder="Digite el número de documento">
                <button class="buscador1" type="submit"><i style="color: white;" class="fa fa-search"></i></button>
                <button class="buscador1" type="submit"><i style="color: white;" class="fa fa-rotate-right"></i></button>
            </form>
        </section> 

        <section class="pie">
            <img  class="pie1" src="../assets/img/12. franja.svg" alt="">
         </section>
    </div>
</div>
<script src="../assets/js/dashboard.js"></script>
</body>
</html>
