<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <script src="https://kit.fontawesome.com/4fcb02d961.js" crossorigin="anonymous"></script>
    <title>Login</title>


</head>

<body background="../assets/img/10.png" >
<br>

    <div class="cajas">  
            <button class="botons"><a href="../index.html"> Volver al inicio</a></button>
        </div>

        
        <div class="caja">  <img src="../assets/img/logo.png" alt="">
        <h3>¡Contigo, siempre!</h3><br>
        </div>

        <div id="form">
            <form  method="POST" action="">

             <input type="text" max length="30"  placeholder="Usuario" ><br><br>
                
             <input type="password" max length="20"  placeholder="Contraseña"  name="password"><br><br><br><br>
             <div class="texto">
                    <a style="font-weight: 600;" href="">¿Olvidaste tu contraseña?</a><br><br>
             </div>
                
                
                <button type="submit" > <a href="./dashboard.html"> INGRESAR</a></button>
                
            </form>
        </div>
    </div>
</body>
</html>