<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/pacientes.css">
    <script src="https://kit.fontawesome.com/4fcb02d961.js" crossorigin="anonymous"></script>
    <title>Pacientes</title>
</head>

<body>
    
<div class="container">

    <section class="cabezera1">
        
        <img class="logo-cabezera" src="../assets/img/logo.png" alt="">
        <button class="arriba"><a href="./login.html"><i class="fa fa-power-off"></a></i> </button>
        <button class="arriba"> <a href="./dashboard.html"> <i class="fa fa-home"></i></a></button>
    

    </section>

    <section class="franjita">
    
     <img class="franja2" src="../assets/img/12. franja.svg" alt="">

    </section><br><br><br><br><br><br>

    <section class="pacientesa">
        <div class="input">
           
            <button class="buscador2b"> <a href="#"> <i style="color: white;" class="fa fa-search"></i></a></button>
            <input class="buscador2" type="text" max length="30"  placeholder="Digite el número de documento">
        </div>
     
        <div class="agregado">
            <button class=" pacientesb"> <a href="./registro.html">Agregar</a><i style="color: white;" class=" fa fa-user-plus"></i></button>
        </div>
      
      
     
   </section><br><br><br><br><br>

   <section class="tabla" >
       <h2>PACIENTES</h2>
       <table>
           <tr class="cabezera">
               <td style="width: 200px;"># DE USUARIO</td>
               <td style="width: 200px;"># DOCUMENTO</td>
               <td style="width: 300px;">NOMBRES</td>
               <td style="width: 300px;">APELLIDOS</td>
               <td style="width: 200px;">EDAD</td>
               <td style="width: 300px;">ACCIONES</td>
           </tr>

           <tr class="datos">
               <td style="width: 200px; background: #cccecf; color: black; ">00</td>
               <td style="width: 200px; background: #cccecf; color: black;">112.44.3</td>
               <td style="width: 300px; background: #cccecf; color: black;">Jose</td>
               <td style="width: 300px; background: #cccecf; color: black;">Toquica</td>
               <td style="width: 200px; background: #cccecf; color: black;">00</td>
               <td style="width: 300px; background: #cccecf; color: black;" >
                <button class="editar"> Editar <i class="fa fa-pencil"></i></button> 
                <button class="eliminar"> Eliminar <i style="color: white;" class="fa fa-close">
                    
                </i></button></td>
           </tr>
           <tr class="datos">
               <td style="width: 200px; background: #cccecf; color: black; ">01</td>
               <td style="width: 200px; background: #cccecf; color: black;">1023.44.12</td>
               <td style="width: 300px; background: #cccecf; color: black;">Nicoll</td>
               <td style="width: 300px; background: #cccecf; color: black;">Vargas</td>
               <td style="width: 200px; background: #cccecf; color: black;">00</td>
               <td style="width: 300px; background: #cccecf; color: black;" ><button class="editar"> Editar <i class="fa fa-pencil"></i></button> 
                <button class="eliminar"> Eliminar <i style="color: white;" class="fa fa-close">
                    
                </i></button></td>
           </tr>
           <tr class="datos">
               <td style="width: 200px; background: #cccecf; color: black; ">02</td>
               <td style="width: 200px; background: #cccecf; color: black;">123.456.25</td>
               <td style="width: 300px; background: #cccecf; color: black;">Oliver</td>
               <td style="width: 300px; background: #cccecf; color: black;">Atton</td>
               <td style="width: 200px; background: #cccecf; color: black;">00</td>
               <td style="width: 300px; background: #cccecf; color: black;" ><button class="editar"> Editar <i class="fa fa-pencil"></i></button> 
                <button class="eliminar"> Eliminar <i style="color: white;" class="fa fa-close">
                    
                </i></button></td>
           </tr>
           <tr class="datos">
               <td style="width: 200px; background: #cccecf; color: black; ">03</td>
               <td style="width: 200px; background: #cccecf; color: black;">20.000.523</td>
               <td style="width: 300px; background: #cccecf; color: black;">Alejo</td>
               <td style="width: 300px; background: #cccecf; color: black;">Pérez</td>
               <td style="width: 200px; background: #cccecf; color: black;">00</td>
               <td style="width: 300px; background: #cccecf; color: black;" ><button class="editar"> Editar <i class="fa fa-pencil"></i></button> 
                <button class="eliminar"> Eliminar <i style="color: white;" class="fa fa-close">
                    
                </i></button></td>
           </tr>
           <tr class="datos">
               <td style="width: 200px; background: #cccecf; color: black;">04</td>
               <td style="width: 200px; background: #cccecf; color: black;">52.123.535</td>
               <td style="width: 300px; background: #cccecf; color: black;">Claudia</td>
               <td style="width: 300px; background: #cccecf; color: black;">Torres</td>
               <td style="width: 200px; background: #cccecf; color: black;">00</td>
               <td style="width: 300px; background: #cccecf; color: black;" ><button class="editar"> Editar <i class="fa fa-pencil"></i></button> 
                <button class="eliminar"> Eliminar <i style="color: white;" class="fa fa-close">
                    
                </i></button></td>
           </tr>
       </table>

   </section>
    

</div>
<hr style="background: white;">

        <div class="copy">
            <p style="color: white; text-align: center;" > © 2022 FORJA EMPRESAS</p>
        </div>




</body>
     
</html>