<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vacunacion.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/4fcb02d961.js" crossorigin="anonymous"></script>
    <title>Formulario</title>
</head>

<body>
    
<div class="container">

  <section class="cabezera1">
    
    <img class="logo-cabezera" src="../assets/img/logo.png" alt="">
    <div class="btningreso">
      <button class="arriba"><a href="./login.html"><i class="fa fa-power-off"></a></i> </button>
    <button class="arriba"> <a href="./dashboard.html"> <i class="fa fa-home"></i></a></button>
    </div>
    
 </section>

  <section class="franja2">
     <img  src="../assets/img/12. franja.svg" alt="">
  </section>

  <div class="contieneArriba">
    <div class="titulo">
      <p>Estado: Activo</p>
      <h1>INFORMACION DEL PACIENTE</h1>
    </div>
    <div class="buttonsUp">
      <button form="formulary" class="guardart" type="submit" >Guardar cambios</button>
      <button class="guardar"><a href="../views/dashboard.html">Cerrar</button></a>
    </div>
  </div>

  <form id="formulary" class="formulario" action="" method="post">
        <section id="contenidop">

            <div class="parteuno">
              <input type="date"  placeholder="" required>
              <input type="text"  placeholder=" N° registro" required>
            </div>
            
            <h4><i class="fa-solid fa-syringe fa-icon"></i> DATOS PERSONALES</h4> 

          <div class="dentroDatos">
                <div class="datos1">
                  <input id="nombre" class="input_two" type="text"  placeholder="Escribe tu nombre" required>
                
                  <input class="input_two" type="text"  placeholder="Apellidos" required>
                  <input class="input_two" type="text"  placeholder="Número de identificación" required> 
                </div>
                <div class="datos1">
                  <input class="input_two" type="date"  placeholder="Municipio de recidencia" required>
                  <input class="input_two" type="text"  placeholder="Edad" required>
                  <select class="desplegable" placeholder="Tipo de documento" required>
                  <option value="">EPS</option>
                    <option value="0">Salud Colmena</option>
                    <option value="1">Salud Total</option>
                    <option value="2">Medimas</option>
                    <option value="3">Sanitas</option>
                    <option value="4">Compensar</option>
                    <option value="5">Saludcoop</option>
                    <option value="6">Coomeva</option>
                    <option value="7">Famisanar</option>
                    <option value="8">Cruz Blanca</option>
                  </select>
                </div>
              </div>
            <br><br> 
        </section>
  </form>

  <form id="formulary" class="formulario" action="" method="post">
    <section id="contenido_two">
      <h4> <i class="fa-solid fa-syringe fa-icon"></i>INFORMACIÓN DE VACUNACIÓN</h4> 
      <div class="datos2">
        <select class="desplegable" placeholder="" required>
          <option value="">Sede</option>
            <option value="0">Circunvalar</option>
            <option value="1">Corferias</option>
            <option value="2">Suba</option>
            <option value="3">Bosa</option>
            <option value="4">Centro</option>
          </select>
          <select class="desplegable" placeholder="" required>
            <option value="">¿Quién lo vacuno?</option>
              <option value="0">Maria Fernandez</option>
              <option value="1">Paola García</option>
              <option value="2">Andres Rodriguez</option>
              <option value="3">Patricia Fernandez</option>
              <option value="4">Daniel Trujillo</option>
            </select>
      </div>
        <div class="datos2">
          <input class="input_two" type="text"  placeholder="ID del profesional" required>
          <select class="desplegable" type="text"  placeholder="" required>
            <option disabled selected>Dosis</option>
            <option value="0">Primera vez</option>
            <option value="1">Segunda vez</option>
            <option value="2">Tercera vez</option>
            <option value="3">Refuerzo</option>
          </select>
        </div>
       
        <div class="datos3">
          <select class="desplegable2" placeholder="" required >
            <option value="">Biologico</option>
            <option value="0">Vacuna Pfizer</option>
                <option value="1">Vacuna Oxford, AstraZeneca</option>
                <option value="2">Vacuna Johnson & Johnson</option>
                <option value="3">Vacuna Moderna</option>
                <option value="4">Vacuna SinoVac</option>
            </select>
            <input class="input4" placeholder="Fecha 1ra Dosis" required>
            <input class="input3" type="text"  placeholder="Fecha 2ra Dosis" required>
        
        </div>
        
        <div class="observaciones">
          <textarea name="observacion" id="observacion" placeholder="Observaciones adicionales"></textarea>
        </div>
        
    </section>

  </form>
    
</div>
<script src="../assets/js/vacunacion.js"></script>
</body>
  
</html>