@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --rufous: #A40101;
    --viridian-gren: #2CA3AB;
    --silver: #CACACA;
    --oragen: #F3610E;
    --cadet: #1D1B45;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 526px;
   
}

.container h3{
    text-align: center;
}

.cabezera1{
    background: #1d1b45;
    width: 88%;
    padding: 20px;
}
.cabezera1 a{
    display: flex;
    justify-content: center;
}
.arriba {
    width: 49px;
    height: 49px;
    border-radius: 50px 50px 50px 50px;
    float: right;
    margin: 4px;
    background-color: var(--silver);
    border: solid 2px #2ca3ab;
}

i {
    font-size: 20px;
    color: black;
    float: left;
}

.franja2 {
    width: 100%;
    
}

h3 {
    background: #1d1a45;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

.formulario {
    border: solid 1px black;
    height: 2000px;
    width: 98%;
}

form {
    background: var(--silver);
    width: 92%;
    height: 1790px;
    margin: auto;
    margin-top: 40px;
    border: solid 1px black;
    border-radius: 10px;
}

input {
    width: 258px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 13px;
    border: solid 1.8px #2ca3ab;
    border-radius: 3px;
}

.input2 {
    width: 257px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 13px;
    border: solid 1.8px #2ca3ab;
}

.desplegable {
    width: 265px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 13px;
    border: solid 1.8px #2ca3ab;
    border-radius: 3px;
}

.desplegable2 {
    width: 265px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 13px;
    border-radius: 3px;
    border: solid 1.8px #2ca3ab;
    border-radius: 3px;
}


.input3 {
    width: 258px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 13px;
    
}

h4 {
    width: 265px;
    height: 25px;
    background: #2ca3ab;
    color: white;
    font-style: normal;
    padding: 8px; 
    border-radius: 6px 6px 6px 6px;
    text-align: center;
    align-items: center;
    margin: 5px auto;
}

h5 {
    color: black;
    padding: 8px;
    width: 270px;
    font-size: 13px;
    align-items: center;
    text-align: center;
}

.radio{
    width: 12px;
    height: 12px;
    text-align: center;
    align-items: center;
}

.rad p{
    text-align: center;
    align-items: center;
}


.guardar {
 background: #f3610e;
 width: 150px;
 height: 40px;
 font-size: 11pt;
 border: solid 1px white;
 border-radius: 10px 10px 10px 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 10px 10px 12px 86px;
}

.guardar a{
    text-align: center;
    align-items: center;
}

.guardar:hover {
    background-image:     linear-gradient(
        to right, 
        #072227,
        #072227 16.65%,
        #92A9BD 16.65%,
        #92A9BD 33.3%,
        #316B83 33.3%,
        #316B83 49.95%,
        #22577A 49.95%,
        #22577A 66.6%,
        #2D46B9 66.6%,
        #2D46B9 83.25%,
        #00A19D 83.25%,
        #00A19D 100%,
        #072227 100%
       
       
       
      );
    animation:slidebg 3s linear infinite;
  }
  
  
  @keyframes slidebg {
    to {
      background-position:30vw;
    }
  }

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

@media screen and (min-width:400px) {
    .cabezera1{
        width: 90%;
    }

    input{
        width: 320px;
        margin-left: 30px;

    }
    .input2, .input3{
        width: 320px;
        margin-left: 30px;
    }

    .desplegable, .desplegable2{
        width: 325px;
        margin-left: 25px;
    }

    h4{
        width: 326px;
    }
    h5{
        width: 350px;
    }
    .guardar{
        margin: 10px 10px 12px 123px;
    }
    form{
        height: 1733px;
    }

    .formulario{
        justify-content: center;
    }
}


@media screen and (min-width:768px) {
    .cabezera1 {
        width: 787px;
    }

    form{
        width: 90%;
        height: auto;
    }


    .franja2{
        width: 827px;
    }
    input{
        width: 91%;
    }
    .input2{
        width: 44%;
    }

    .input3{
        width: 43%;
    }
    .desplegable{
        width: 45%;
    }

    .desplegable2{
        width:44% ;
    }

    .formulario{
        width: 820px;
    }
    .container{
        width: 100%;
    }
    .guardar{
        margin-bottom: 10px;
    }
    h4{
        width: 90%;
    }
    h5{
        width: 90%;
        margin-left: 10px;
    }
    .guardar{
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .cabezera1{
        width: 96%;
    }

    .franja2{
        width: 99.7%;
    }
    .formulario h4{
        width: 827px;
    }
    
    .formulario{
        width: 80%;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .container h3{
        width: 98%;
    }

    .container h5{
        width: 100%;
    }

    .guardar{
        margin-bottom: 10px;
    }

    form {
        width: 105%;
        height: 100%;
    }
    
    input {
        width: 394px;
        height: 40px;
        margin: 0px, 20px, 0px, 20px;
    }
    
    .input2 { 
        width: 394px;
        height: 40px;
    }

    .desplegable {
        width: 401px;
        height: 43px;
    }
    
    .desplegable2 {
        width: 247px;
        height: 44px;
    }
        
    .input3 {
        width: 278px;
        height: 38px;
    }
}

@media screen and (min-width: 1200px) {
    .formulario{
        width: 1100px;
        height: auto;
    }
    
    form{
        width: 1000px;
        height: auto;
    }
    input{
        width: 234px;
        margin: 16px -2px -3px 40px ;

    }

    .input2{
        width: 425px;
        margin: 10px 5px 7px 40px;

    }
    
    .desplegable{
        width:431px;
        margin: 10px 5px 7px 40px;
    }
    .formulario h4{
         width: 946px;
    }
    .desplegable2{
        width:287px ;
        margin:10px -14px 7px 34px;
    }
    .input3{
        width: 295px;
        margin: 10px 0px 7px 32px;
    }
}







